@import 'variables';

.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0091AD;
    width: 70vw;
    max-width: 600px;
    height: 600px;
    // border-radius: 10px;
    // opacity: .70;
    // box-shadow: 3px 3px 15px $earth-green;
}

@media only screen and (max-width: 600px) {
    .contact {
        width: 100%;
    }

    .contact_container {
        width: 70vw;
    }
  }
.contact_form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contact_label {
    font-size: 17px;
    font-family: $light-font;
    color: whitesmoke;
    margin: 10px 0px 10px 0px;
}

.contact_input {
    height: 25px;
    border-radius: 5px;
    border-style: none;
    font-family: $light-font;
    background-color: white;
    // color: whitesmoke;
    // box-shadow: 1px 1px 1px $earth-green;
}

.contact_input--inquiry {
    height: 200px;
    resize: none;
}

.contact_button--submit {
    margin-top: 15px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    font-family: $main-font;
    background-color: #B7094C;
    color: whitesmoke;
}

.contact_button--submit:hover {
    color: lightslategray;
    text-shadow: .5px .5px whitesmoke;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.contact_button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.contact_links {
    display: flex;
    justify-content: right;
}

.contact_links--a {
    font-size: 30px;
    color: #B7094C;
    margin-left: 10px;
}

