@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

$handwritten-font:  'Permanent Marker', cursive;
$main-font: 'Mukta', sans-serif;
$soft-orange: #c56b52;
$aqua: #7ac2bc;  
$peach: #E8A87C;
$dusty-rose: #C38D9E;
$turquoise: #1f554e;
$salt-blue: #9ab2cf;

.greeting_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.greeting_intro, .greeting_details, .greeting_checkout {
    font-family: $handwritten-font;
}

@media only screen and (max-width: 600px) {
    .greeting_intro, .greeting_details, .greeting_checkout {
        width: 300px;
        margin-left: 50px;
    }
  }

.greeting_checkout {
    font-size: 23px;
    display: flex;
}

.here-button {
    display: block;
    text-shadow: 1px 1px $turquoise;
    font-size: 25px;
    color: $dusty-rose;
    text-decoration: none;
    padding-left: 15px;
}

.here-button:hover {
    text-shadow: 1px 1px $turquoise;
    font-size: 25px;
    color: $aqua;

}