@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200&display=swap');

$light-font: 'Mukta Vaani', sans-serif;
$main-font: 'Mukta', sans-serif;
$handwritten-font:  'Permanent Marker', cursive;
$soft-orange: #c56b52;
$aqua: #7ac2bc52;  
$peach: #E8A87C;
$dusty-rose: #C38D9E;
$turquoise: #1f554e;
$salt-blue: #9ab2cf;

.tile-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.tile {
    width: 300px;
    margin: 20px;
    font-family: $light-font;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tile-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tile {
        width: 80%;
    }
  }

// .tile_image {
//     // max-width: 250px;
//     border-radius: 5px;
// }

.tile_title {
    font-family: $handwritten-font;
}

.tile_description {
    background-color: $aqua;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.tile_description--long {
    margin: 0px;
}