@import 'variables';

.nav_wrapper {
    display: flex;
    flex-direction: column; 
    background-color: #B7094C;
    height: 100%;
    bottom: 0;
    position: fixed;
    max-width: 200px;
}

@media only screen and (max-width: 600px) {
    .nav_wrapper {
        display: none;
    }
  }

.nav_list {
    margin-top: 127px;
    padding-left: 0px;
}

.nav_link {
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    font-family: $main-font;
    font-size: 20px;
    padding-left: 10px;
}

.nav_link:hover {
    color: #240046;
    text-shadow: .5px .5px whitesmoke;
}

.nav_border {
    background-color: #0091AD;
    height: 2px;
    width: 215px;
    margin-left: 0;
}


.nav_corner {
    width: 0;
    height: 0;
    border-bottom: 200px solid #0091AD;
    border-left: 200px solid transparent;
    bottom: 0;
    position: absolute;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin-left: 78px;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.github-text {
    color: whitesmoke;
    font-size: 25px;
    margin-top: 33px;
    margin-right: -10px;
}

.github-icon {
    color: whitesmoke;
    font-size: 45px;
    margin-top: 6px;
}

.linkedin-icon {
    color: white;
    font-size: 55px;
}

.icon {
    height: 55px;
}

.scroll-icon {
    bottom: 0;
    position: absolute;
    margin-left: 215px;
    margin-bottom: 15px;
    font-size: 30px;
    color: $soft-black;
    animation: scroll;
    animation-duration: 1s;
    animation-iteration-count: 6;
    animation-direction: alternate-reverse;
    color: rgb(232, 235, 236);
}

@keyframes scroll {
    from {
        margin-bottom: 15%;
        color: $soft-black;
    }

    to {
        margin-bottom: 15px;
        opacity: 0;
    }
}